*.iml
.gradle
.idea
.kotlin
/local.properties
/build
/app/build
/smollm/build
/smollm/.cxx
.DS_Store
*.apk
*.aab
*.jks
*.keystore
app/src/main/assets/model/*.gguf
.externalNativeBuild
.cxx
captures
app/release/
